# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [19]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [20]:
# import dataset
pokemon = pd.read_csv("Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [21]:
# your code here
display(pokemon.head(10))
display(pokemon.shape)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

(800, 13)

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [22]:
# your code here
display(pokemon["Type 1"].unique())
pokemon["Type 2"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [23]:
pokemon["Name"] = pokemon["Name"].str.replace('.*Mega','Mega')
pokemon.head()

C:\Users\ansah\AppData\Local\Temp\ipykernel_10016\3128080833.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  pokemon["Name"] = pokemon["Name"].str.replace('.*Mega','Mega')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Alternatively; A fuction can also clean

In [34]:
# your code here
#display(pokemon["Name"].unique())
#Defining a cleaning function:

def clean_mega(value):
    if "Mega" in value:
        name = value.split("Mega")
        name = 'Mega'+ name[1]
        return name
    Else:
        return value
      

#test transformed data
print(clean_mega("VenusaurMega Venusaur"))

SyntaxError: invalid syntax (96747372.py, line 10)

### Create a new column called A/D Ratio whose value equals to Attack devided by Defense.For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding A/D Ratio is 49/49=1.

In [35]:
# your code here

pokemon["A/D"] = pokemon["Attack"]/ pokemon["Defense"]

In [36]:
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952

#### Identify the pokemon with the highest `A/D Ratio`.

In [39]:
# your code here
pokemon_max = pokemon[pokemon['A/D'] == pokemon['A/D'].max()]
pokemon_max

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [40]:
# your code here
pokemon_min = pokemon[pokemon['A/D'] == pokemon['A/D'].min()]
pokemon_min

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [ ]:
# your code here
pokemon["Type 1"].isnull.sum()

In [44]:
def get_combo(row):
    if pd.isnull(row['Type 2']):
        return row['Type 1']
    else:
        return row['Type 1'] + '-' + row['Type 2']
    
pokemon['Combo Type'] = pokemon.apply(get_combo, axis=1)

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [51]:
# your code here
#pokemon["A/D"].sort()

pokemon_sorted = pokemon.sort_values(by = [ "A/D"], ascending= False)
# your code here
pokemon_sorted5 = pokemon_sorted.head(5)
pokemon_sorted5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [46]:
#your code here

In [52]:
cambo_types = pokemon_sorted5["Combo Type"].unique()
cambo_types

array(['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock'], dtype=object)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

# GROUP BY Option 1

# Option1a.  Using the the (pokemon_sorted5) table from the prom the previous question and Group By

In [55]:
pokemon_sorted5_means = pokemon_sorted5.groupby('Combo Type').agg(np.mean)
pokemon_sorted5_means

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D
Combo Type,,,,,,,,,,,
Bug-Poison,15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,0.0,3.750
Psychic,386.0,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,1.0,9.000
Rock,408.0,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,0.0,3.125
Water-Dark,318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,0.0,3.750

# option 1.b .Using Group by and the pokeman_sorted

In [59]:
# your code here
pokemon_means= pokemon_sorted.groupby('Combo Type').agg(np.mean).reset_index()
#pokemon_means[pokemon_means['Combo Type'].isin(combo_types)]
pokemon_means

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D
0,Bug,361.352941,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.0,0.940179
1,Bug-Electric,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,1.111667
2,Bug-Fighting,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,1.637681
3,Bug-Fire,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,1.234266
4,Bug-Flying,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,1.146274
...,...,...,...,...,...,...,...,...,...,...,...,...
149,Water-Ice,103.000000,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.0,0.821759
150,Water-Poison,118.666667,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.0,1.162149
151,Water-Psychic,111.800000,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.0,0.783668
152,Water-Rock,430.000000,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.0,0.727170
153,Water-Steel,395.000000,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.0,0.977273

# OPTION 2: Using pivot Table

2a) For pokemon_sorted5 table

In [57]:
# Fort 
pokemon_sorted5_means = pokemon_sorted5.pivot_table(index= ['Combo Type'])
pokemon_sorted5_means
# This selects only numerical values
#The default aggregate function is mean

,#,A/D,Attack,Defense,Generation,HP,Legendary,Sp. Atk,Sp. Def,Speed,Total
Combo Type,,,,,,,,,,,
Bug-Poison,15.0,3.750,150,40,1,65.0,0.0,15,80,145,495.0
Psychic,386.0,9.000,180,20,3,50.0,1.0,180,20,150,600.0
Rock,408.0,3.125,125,40,4,67.0,0.0,30,30,58,350.0
Water-Dark,318.5,3.750,105,30,3,57.5,0.0,80,30,80,382.5

In [ ]:
2b) For pokemon_sorted table:

In [63]:
pokemon_sorted.pivot_table(index=['Combo Type'], 
                 values = ['#','Total',"HP",'A/D','Legendary','Defense','Sp. Atk','Sp. Def','Generation'],aggfunc = ['mean'])

                     mean                                              \
                        #       A/D     Defense Generation         HP
Combo Type
Bug            361.352941  0.940179   55.411765   3.470588  53.058824
Bug-Electric   595.500000  1.111667   55.000000   5.000000  60.000000
Bug-Fighting   214.000000  1.637681   95.000000   2.000000  80.000000
Bug-Fire       636.500000  1.234266   60.000000   5.000000  70.000000
Bug-Flying     286.285714  1.146274   61.571429   2.857143  63.000000
...                   ...       ...         ...        ...        ...
Water-Ice      103.000000  0.821759  113.333333   1.000000  90.000000
Water-Poison   118.666667  1.162149   58.333333   1.333333  61.666667
Water-Psychic  111.800000  0.783668  104.000000   1.200000  87.000000
Water-Rock     430.000000  0.727170  112.750000   3.750000  70.750000
Water-Steel    395.000000  0.977273   88.000000   4.000000  84.000000


              Legendary     Sp. Atk     Sp. Def       Total
Combo Type
Bug                 0.0   39.294118   43.647059  289.705882
Bug-Electric        0.0   77.000000   55.000000  395.500000
Bug-Fighting        0.0   40.000000  100.000000  550.000000
Bug-Fire            0.0   92.500000   80.000000  455.000000
Bug-Flying          0.0   72.857143   69.071429  419.500000
...                 ...         ...         ...         ...
Water-Ice           0.0   80.000000   78.333333  511.666667
Water-Poison        0.0   61.666667   91.666667  426.666667
Water-Psychic       0.0   94.000000   79.000000  481.000000
Water-Rock          0.0   61.500000   65.000000  428.750000
Water-Steel         0.0  111.000000  101.000000  530.000000

[154 rows x 9 columns]